@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.favorites {
  margin-top: 100px;
  color: #5588a3;
  font-size: 50px;
  background: url('https://res.cloudinary.com/drukuybdj/image/upload/v1570086152/ironhack-project-3/properties/favorites_xbhs7y.jpg');
}

.favorites-title {
  font-size: 30px;
  color: white;
}
