@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.title {
  color: #5588a3;
}

.properties {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 90px 40px 20px 40px;
  background: url('https://res.cloudinary.com/drukuybdj/image/upload/v1569855446/ironhack-project-3/properties/rob-potvin-VLWy8LIdzsQ-unsplash_z5z7bx.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.property-card {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row;
  border: none;
  box-shadow: 0px 0px 4px 2px rgba(58, 58, 58, 0.4);
  background: white;
  border-radius: 5px;
  margin: 20px 0 50px 50px;
  align-items: center;
  height: auto;
  width: 900px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
    color: #e3ceb0 !important;
  }
}

.property-details {
  flex-direction: column;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  margin: 0 30px 0 30px;
  font-size: 20px;
}

.text-color {
  color: #368899;
  font-size: 16px;
}

.select-options {
  display: flex;
  flex-direction: row;
}

.form-control {
  margin: 20px 30px 0 0;
  background-color: #7bb4b5;
  color: white;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.filters {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.form-filters {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.dropdowns {
  margin-bottom: 20px;
  justify-content: flex-start;
  height: 40px;
  background-color: #7bb4b5;
  border: solid 1px #5588a3;
  color: white;
}

.dropdowns:hover {
  background-color: #e3ceb0;
}

.filter-block {
  flex-direction: column;
  width: 200px;
  margin: 20px;
}

.input-min-max {
  background-color: red;
}

.card-title {
  font-style: #5588a3 80px;
  text-align: center;
  margin: 0 20px 0 20px;
  width: 100%;
}

.property-type {
  max-width: 250px;
}

.property-location {
  max-width: 100px;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: 0 10px 50px 20px;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.title-and-images {
  align-items: center;
  margin: 20px 0 50px 30px;
}

.solo-title {
  width: 100%;
}

// .pictures-list {
//   max-width: 500px;
// }

// To access ONE picture
.imgs {
  width: 500px;
  height: auto;
  margin-bottom: 50px;
}

li {
  list-style-type: none;
}

h3 {
  font-size: 20px;
}

ul {
  margin-left: 0;
  align-items: center;
  // height: 300px;
}
