@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.titre {
  display: flex;
  justify-content: flex-start;
  color: #5588a3;
  text-shadow: 2px 2px 2px white;
  font-size: 50px;
}

.title {
  color: #5588a3;
}

.properties {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 90px 40px 20px 40px;
  background: url('https://res.cloudinary.com/drukuybdj/image/upload/v1569855446/ironhack-project-3/properties/rob-potvin-VLWy8LIdzsQ-unsplash_z5z7bx.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.property-card {
  display: flex;
  flex-direction: row;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  box-shadow: 0px 0px 4px 2px rgba(58, 58, 58, 0.4);
  background: white;
  border-radius: 5px;
  margin-bottom: 50px;
  align-items: center;
  height: auto;
  width: 80%;
  overflow: hidden;
}

.hyperlink {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
    color: #e3ceb0 !important;
  }
}

.property-details {
  flex-direction: column;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  justify-content: space-evenly;
  width: 50%;
}

.text-color {
  color: black;
  font-size: 16px;
  width: 100%;
  height: 30%;
  align-items: center;
}

.select-options {
  display: flex;
  flex-direction: row;
}

.form-control {
  margin: 20px 30px 0 0;
  background-color: #7bb4b5;
  color: white;
}

.title {
  display: flex;
  justify-content: flex-start;
  color: #5588a3;
  font-size: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  height: auto;
  opacity: 0.8;
  width: 80%;
}

.balcony {
  margin-left: -10px;
}

.dropdowns {
  justify-content: center;
  margin-left: 5px;
  font-size: 16px;
  width: 160px;
  background-color: #7bb4b5;
  border: solid 1px #7bb4b5;
  color: white;
}

.dropdowns:hover {
  background-color: #e3ceb0;
  border: solid 1px #e3ceb0;
  color: white !important;
  text-decoration: none !important;
}

.ctas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-block {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  border-right: 1px solid #e3ceb0;
  padding: 10px 10px 10px 30px;
  margin: 0;
}

.filter-block:last-child {
  border-right: none;
}

.filter-block-1 {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  border-right: 1px solid #e3ceb0;
  padding: 10px 10px 10px 0;
  margin: 0;
}

.input-min-max {
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px #e3ceb0;
  width: 90px;
}
.input-min-max:hover {
  box-shadow: 0px 0px 4px 2px rgba(58, 58, 58, 0.4);
}

.form-check-input {
  margin: 10px;
  border: solid 1px #e3ceb0;
  border-radius: 5px;
  padding-left: 20px;
}

.card-title {
  display: flex;
  color: #5588a3;
  font-size: 20px;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 30%;
  align-items: center;
}

.property-type {
  max-width: 250px;
}

.property-location {
  max-width: 100px;
}

.solo-title {
  width: 100%;
}

// To access ONE picture
.imgs {
  width: 500px;
  height: auto;
  margin-bottom: 50px;
}

h3 {
  font-size: 20px;
}

.filter-label:hover {
  color: #e3ceb0;
}

.slider {
  width: 50%;
  margin-left: 0;
}

.cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  font-size: 50px;
  color: white;
  background-color: #7bb4b5;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  border: solid 1px #7bb4b5;
  width: 30%;
  margin: 10px;
  min-width: 130px;
}

.cta:hover {
  background-color: #e3ceb0;
  border: solid 1px #e3ceb0;
  color: white !important;
  text-decoration: none !important;
}

.heart {
  // background: url('https://res.cloudinary.com/drukuybdj/image/upload/v1570019992/ironhack-project-3/properties/like-null_ws7xx5.png');
  width: 20px;
}

.heart-full {
  // background: url('https://res.cloudinary.com/drukuybdj/image/upload/v1570019992/ironhack-project-3/properties/like-checked_ojl94b.png');
  width: 20px;
}

.form-properties {
  display: flex;
  flex-direction: row;
  width: 100%;
  // flex-wrap: wrap;
}
