// @import 'font-awesome'

// --------------------
// Definition of variables
$primary: #32c3ff;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
//

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.home:hover {
  transform: scale(1.5);
  transition: transform 2.9s ease;
}

.navbar {
  z-index: 11111;
  background-color: #145374;
}

.button-view {
  z-index: 11111;
}

.home {
  height: calc(100vh - (84px));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.square-hp {
  background-color: lightgray;
  opacity: 0.8;
  min-width: 370px;
  max-width: 270px;
  min-height: 130px;
  max-height: 270px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 1;
}

.bloc-hp {
  padding: 60px;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 999;
  text-align: center;
}

.button-view {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #5588a3;
  opacity: 1;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  z-index: 9999;
  width: 100px;
  border-radius: 15px;
}

.button-view:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
