// @import 'font-awesome'
@import url('./forrent.scss');
@import url('./styles/parallax.scss');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

// --------------------
// Definition of variables
$primary: #1c698a;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
//

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

.background-image-test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  &:hover {
    transform: scale(1.3);
    transition: transform 2.9s ease;
  }
}

.navbar {
  z-index: 11111;
  background-color: #145374;
  width: 100%;
  // position: fixed;
}

a.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.button-view {
  z-index: 11111;
}

.home {
  height: calc(100vh - (84px));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.square-hp {
  // background-color: lightgray;
  // opacity: 0.8;
  min-width: 370px;
  max-width: 270px;
  min-height: 130px;
  max-height: 270px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: -1;
  border-radius: 20px;
}
.opacity-low {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #5588a3;
  opacity: 0.6;
  border-radius: 20px;
}

.bloc-hp {
  padding: 60px;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  // position: absolute;
  // z-index: 999;
  text-align: center;
  border-radius: 20px;
}

.button-view {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #5588a3;
  opacity: 1;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  z-index: 9999;
  width: 100px;
  border-radius: 15px;
}

.button-view:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.ContactUs {
  margin: 20px;
}

/* page contact */

.background-image-contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('/paris-rooftop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  &:hover {
    transform: scale(1.3);
    transition: transform 2.9s ease;
  }
}

.contact {
  height: calc(100vh - (84px));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.square-contact {
  // background-color: lightgray;
  // opacity: 0.8;
  min-width: 300px;
  max-width: 970px;
  min-height: 330px;
  max-height: 470px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: -1;
  border-radius: 20px;
}

.bloc-contact {
  padding: 60px;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  // position: absolute;
  // z-index: 999;
  text-align: center;
  border-radius: 20px;
}

.opacity-low-contact {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #5588a3;
  opacity: 0.9;
  border-radius: 20px;
}

.form-group {
  display: inline-flex;
}

label {
  font-weight: lighter;
  font-weight: 10px;
  padding-right: 10px;
  // padding-left: 30px;
  align-items: flex-end;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.btn-primary {
  background-color: #212529;
  color: white;
  width: 200px;
}

.btn-primary:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.form-group-msg {
  padding-bottom: 20px;
}

.contact-title {
  padding-bottom: 20px;
  padding-top: 15px;
}

.App-logo {
  height: 30px;
}

/* page test */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}

// ------------- VARIABLES ------------- //
$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;

html,
body {
  // overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:first-child {
    background-image: url(/background-image.png);

    transform: translateY(-$parallax-offset / 2);
    .content-wrapper {
      transform: translateY($parallax-offset / 2);
    }
  }
  &:nth-child(2) {
    background-image: url(/paris-rooftop.jpg);
  }
  &:nth-child(3) {
    background-image: url(/team.jpg);
  }
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
  .background:nth-child(#{$i}) {
    z-index: ($slide-number + 1) - $i;
  }
}

.content {
  &-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
    transform: translateY($content-offset);
    will-change: transform;
    backface-visibility: hidden;
    @include transition(
      $transition-speed + 0.5,
      all,
      cubic-bezier(0.22, 0.44, 0, 1)
    );
  }
  &-title {
    font-size: 12vh;
    line-height: 1.4;
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background.up-scroll {
  transform: translate3d(0, -$parallax-offset / 2, 0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .background {
    transform: translate3d(0, $parallax-offset, 0);
    .content-wrapper {
      transform: translateY($parallax-offset);
    }
  }
}

.background.down-scroll {
  transform: translate3d(0, -(100vh + $parallax-offset), 0);
  .content-wrapper {
    transform: translateY($content-offset);
  }
  + .background:not(.down-scroll) {
    transform: translate3d(0, -$parallax-offset / 2, 0);
    .content-wrapper {
      transform: translateY($parallax-offset / 2);
    }
  }
}
