@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

// * {
//   box-sizing: border-box;
//   margin: 0;
// }

.white {
  color: white;
}

.one-property-title {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 4px #8b8b8b;
  margin-top: 20px;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.showme {
  font-size: 500px;
  color: white;
}

.background-detail {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('https://res.cloudinary.com/drukuybdj/image/upload/v1569851004/ironhack-project-3/properties/colin-maynard-hSXt6ZYYPsk-unsplash_jrilbn.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.title-block {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.test-container {
  height: 1200px;
  background: red;
}
