@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.background-detail {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('https://res.cloudinary.com/drukuybdj/image/upload/v1570122396/ironhack-project-3/properties/shttefan-viNPa2F7fnw-unsplash_ssqgnj.jpg');
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  width: 100vw;
  padding: 30px;
}

.white {
  color: white;
}

.one-property-title {
  display: flex;
  justify-content: flex-start;
  color: #5588a3;
  text-shadow: 2px 2px 2px white;
  font-size: 50px;
  margin-top: 0;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.column-content {
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: row;
  margin: 50px 0 20px 0;
}

.details-left {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 66%;
  background: white;
  padding: 20px;
  margin-right: 10px;
}

.details-right {
  display: flex;
  flex-direction: column;
  background: white;
  width: 33%;
  padding: 20px;
  color: black;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.strong-title {
  color: #5588a3;
  font-size: 30px;
}

.smaller-title {
  color: #92b5c7;
  font-size: 23px;
}

.details-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.fa-heart {
  width: 50px;
  font-size: 36px;
}

.coeur {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: auto;
  color: red;
}

.coeur:hover {
  color: pink;
}

.div-heart {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.header-left-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
